// Red
$Red_50: #FFEBEE;
$Red_100: #FFCDD2;
$Red_200: #EF9A9A;
$Red_300: #E57373;
$Red_400: #EF5350;
$Red_500: #F44336;
$Red_600: #E53935;
$Red_700: #D32F2F;
$Red_800: #C62828;
$Red_900: #B71C1C;

// Blue
$Blue_50: #E3F2FD;
$Blue_700: #1976D2;
$Blue_900: #0D47A1;

// Teal
$Teal_50: #E0F2F1;
$Teal_500: #009688;
$Teal_900: #004D40;

// Other
$Black: #000000;
$White: #FFFFFF;